<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>
    <h1><%= user.username %></h1>
    <form action="/post" method="post">
      <input type="text" name="tilte">
<input type="text" name="content">
<button type="submit">go</button>
    </form>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>


    <%  posts.forEach(function(p){ %>
    
      
       
      <h3> <%= p.title %></h3>
      <h3> <%= p.content %></h3>
      <%  })  %>
  
 

  </div>
</div>

<%- include('partials/footer') %>
